In [1]:
import pandas as pd
import csv
import numpy as np
from scipy import ndimage
from numpy import asarray
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
import pyabf
from datetime import timedelta
import cv2
import os
from PIL import Image
from matplotlib import pyplot as plt
from matplotlib import image as mpimg
from neo.io import AxonIO
from matplotlib.gridspec import GridSpec
import urllib
import neo

In [4]:
def ABFreader(filelocation): # this function will transform ABF files into dataframes
    # Open the ABF file using AxonIO from the neo package
    fh = AxonIO(filename=filelocation)
    
    # Read the segments from the file
    segments = fh.read_block().segments
    
    # Extract the analog signals from the first segment
    analog_signals_ls = segments[0].analogsignals
    
    # Create an empty DataFrame to store the ABF data
    df = pd.DataFrame()
    
    # Create an empty list to store the time values
    list=[]
    
    # Initialize a time counter
    tc=0
    
    # Read a single segment from the file
    seg = fh.read_segment()
    
    # Loop to populate the time list
    while tc < len(seg.analogsignals[0]):
        list.append(tc)
        tc=tc+1
        
    # Create a DataFrame from the time list
    df = pd.DataFrame (list, columns = ['trash'])
    
    # Add columns to the DataFrame using the analog signals
    df['Vm_prime'] = analog_signals_ls[0]
    df['Im_sec'] = analog_signals_ls[1]
    
    # Split the third analog signal into two channels
    channel_splitter=np.split(analog_signals_ls[2], 3, axis=1) #if you added more channels to clampex zou have to change it here 
    
    # Add the two channels to the DataFrame as separate columns
    df['led'] =  channel_splitter[0][:]
    df['Photodiod'] =  channel_splitter[1][:]
    df['Arduino'] =  channel_splitter[2][:]
    
    # Drop the 'trash' column from the DataFrame
    df=df.drop(columns=["trash"])
    return df

# First recording

# Reformat the ABF into a pandas dataframe

In [5]:
file_path_230919_515=r"D:\230919_firstRecordingsinFlight\5attempt\rec5\2023_09_19_0008.abf"

In [6]:
df_abf_230919_515=ABFreader(file_path_230919_515)

In [7]:
df_abf_230919_515

          Vm_prime    Im_sec       led  Photodiod   Arduino
0       -34.124756 -7.324218  4.957581  -0.119324 -0.211487
1       -34.130859 -7.324218  4.963684  -0.119324 -0.212402
2       -34.136963 -7.324218  4.966736  -0.119324 -0.212708
3       -34.143066 -7.934570  4.958801  -0.119324 -0.211182
4       -34.149170 -7.934570  4.958191  -0.118713 -0.212402
...            ...       ...       ...        ...       ...
5812219 -34.881592 -7.934570  4.955139  -0.119629 -0.210266
5812220 -34.893799 -7.934570  4.954224  -0.119324 -0.212097
5812221 -34.893799 -8.544922  4.970093  -0.119934 -0.211182
5812222 -34.887695 -7.934570  4.959106  -0.119629 -0.211487
5812223 -34.906006 -7.934570  4.951782  -0.119934 -0.212402

[5812224 rows x 5 columns]

# Add a time column

In [13]:
# Calculate the time in seconds
time_seconds = pd.Series(range(len(df_abf_230919_515))) / 10000.0 #This is onlz true when the data was samplet at 10 000 Hz

# Calculate the time in milliseconds (multiply by 1000)
time_milliseconds = time_seconds * 1000.0

# Add the time columns to the DataFrame
df_abf_230919_515['time_sec'] = time_seconds
df_abf_230919_515['time_millisec'] = time_milliseconds

# save df at .csv

In [15]:
file_path = r'D:\230919_firstRecordingsinFlight\5attempt\rec5\Analysis\df_abf_230919_515.csv'# Save the DataFrame as a CSV file
df_abf_230919_515.to_csv(file_path, index=False)

# Second recording

In [4]:
def ABFreader(filelocation): # this function will transform ABF files into dataframes
    # Open the ABF file using AxonIO from the neo package
    fh = AxonIO(filename=filelocation)
    
    # Read the segments from the file
    segments = fh.read_block().segments
    
    # Extract the analog signals from the first segment
    analog_signals_ls = segments[0].analogsignals
    
    # Create an empty DataFrame to store the ABF data
    df = pd.DataFrame()
    
    # Create an empty list to store the time values
    list=[]
    
    # Initialize a time counter
    tc=0
    
    # Read a single segment from the file
    seg = fh.read_segment()
    
    # Loop to populate the time list
    while tc < len(seg.analogsignals[0]):
        list.append(tc)
        tc=tc+1
        
    # Create a DataFrame from the time list
    df = pd.DataFrame (list, columns = ['trash'])
    
    # Add columns to the DataFrame using the analog signals
    df['Vm_prime'] = analog_signals_ls[0]
    df['Im_sec'] = analog_signals_ls[1]
    
    # Split the third analog signal into two channels
    channel_splitter=np.split(analog_signals_ls[2], 3, axis=1) #if you added more channels to clampex zou have to change it here 
    
    # Add the two channels to the DataFrame as separate columns
    df['led'] =  channel_splitter[0][:]
    df['Photodiod'] =  channel_splitter[1][:]
    df['Arduino'] =  channel_splitter[2][:]
    
    # Drop the 'trash' column from the DataFrame
    df=df.drop(columns=["trash"])
    return df

# Reformat the ABF into a pandas dataframe

In [18]:
file_path_230922_321=r"D:\230923_Patch\3rprep\2ndattempt\1strecording\2023_09_22_0002.abf"

In [19]:
df_abf_230922_321=ABFreader(file_path_230922_321)

In [20]:
df_abf_230922_321

          Vm_prime    Im_sec       led  Photodiod   Arduino
0       -38.244629 -7.934570  4.971313  -0.118713 -0.210876
1       -38.244629 -7.934570  4.961243  -0.118408 -0.210876
2       -38.232422 -7.934570  4.955750  -0.118408 -0.211487
3       -38.220215 -7.934570  4.968872  -0.118408 -0.210876
4       -38.250732 -8.544922  4.965515  -0.118408 -0.209961
...            ...       ...       ...        ...       ...
3567611 -40.069580 -7.324218  4.967041  -0.118103 -0.211487
3567612 -40.106201 -8.544922  4.965820  -0.117798 -0.209656
3567613 -40.112305 -7.324218  4.950562  -0.117798 -0.211182
3567614 -40.142822 -7.934570  4.958801  -0.117798 -0.211487
3567615 -40.167236 -7.934570  4.969482  -0.118103 -0.209961

[3567616 rows x 5 columns]

# Add a time column

In [21]:
# Calculate the time in seconds
time_seconds = pd.Series(range(len(df_abf_230922_321))) / 10000.0 #This is onlz true when the data was samplet at 10 000 Hz

# Calculate the time in milliseconds (multiply by 1000)
time_milliseconds = time_seconds * 1000.0

# Add the time columns to the DataFrame
df_abf_230922_321['time_sec'] = time_seconds
df_abf_230922_321['time_millisec'] = time_milliseconds

# save df at .csv

In [23]:
file_path = r'D:\230923_Patch\3rprep\2ndattempt\1strecording\Analysis\df_abf_230922_321.csv'# Save the DataFrame as a CSV file
df_abf_230922_321.to_csv(file_path, index=False)

# Third recording

In [42]:
def ABFreader(filelocation): # this function will transform ABF files into dataframes
    # Open the ABF file using AxonIO from the neo package
    fh = AxonIO(filename=filelocation)
    
    # Read the segments from the file
    segments = fh.read_block().segments
    
    # Extract the analog signals from the first segment
    analog_signals_ls = segments[0].analogsignals
    
    # Create an empty DataFrame to store the ABF data
    df = pd.DataFrame()
    
    # Create an empty list to store the time values
    list=[]
    
    # Initialize a time counter
    tc=0
    
    # Read a single segment from the file
    seg = fh.read_segment()
    
    # Loop to populate the time list
    while tc < len(seg.analogsignals[0]):
        list.append(tc)
        tc=tc+1
        
    # Create a DataFrame from the time list
    df = pd.DataFrame (list, columns = ['trash'])
    
    # Add columns to the DataFrame using the analog signals
    df['Vm_prime'] = analog_signals_ls[0]
    df['Im_sec'] = analog_signals_ls[1]
    df['Photodiod'] = analog_signals_ls[3]
    
    # Split the third analog signal into two channels
    channel_splitter=np.split(analog_signals_ls[2], 4, axis=1) #if you added more channels to clampex zou have to change it here 
    
    # Add the two channels to the DataFrame as separate columns
    df['Trigger'] =  channel_splitter[0][:]
    df['AirPuff'] =  channel_splitter[1][:]
    df['TrigWings '] =  channel_splitter[2][:]
    df['TrigEyes'] =  channel_splitter[3][:]
    

    
    
    # Drop the 'trash' column from the DataFrame
    df=df.drop(columns=["trash"])
    return df

# Reformat the ABF into a pandas dataframe

In [46]:
file_path_231011_311=r"D:\231011_Patch\312\2023_10_11_0001.abf"

In [47]:
df_abf_231011_311=ABFreader(file_path_231011_311)

In [48]:
df_abf_231011_311

,Vm_prime,Im_sec,Photodiod,Trigger,AirPuff,TrigWings,TrigEyes
0,-40.020752,-7.324218,-0.118408,4.947205,4.969482,-0.209656,-0.059509
1,-40.045166,-7.934570,-0.118408,4.958801,4.979858,-0.210266,-0.060730
2,-40.051270,-7.934570,-0.118408,4.960632,4.981995,-0.209351,-0.059814
3,-40.063477,-7.934570,-0.118408,4.947510,4.969177,-0.209961,-0.059814
4,-40.063477,-7.324218,-0.118408,4.950562,4.972534,-0.211182,-0.059814
...,...,...,...,...,...,...,...
4600315,-2.593994,-7.324218,0.083313,4.951782,4.972839,-0.209961,-0.059204
4600316,-2.593994,-7.934570,0.083313,4.959412,4.981079,-0.208130,-0.058289
4600317,-2.575684,-7.934570,0.083313,4.954529,4.975891,-0.210876,-0.059814
4600318,-2.563477,-7.934570,0.083313,4.950867,4.972534,-0.210876,-0.059204
4600319,-2.581787,-7.934570,0.083313,4.951477,4.973145,-0.209961,-0.059204

# Add a time column

In [49]:
# Calculate the time in seconds
time_seconds = pd.Series(range(len(df_abf_231011_311))) / 10000.0 #This is onlz true when the data was samplet at 10 000 Hz

# Calculate the time in milliseconds (multiply by 1000)
time_milliseconds = time_seconds * 1000.0

# Add the time columns to the DataFrame
df_abf_231011_311['time_sec'] = time_seconds
df_abf_231011_311['time_millisec'] = time_milliseconds

In [50]:
df_abf_231011_311

,Vm_prime,Im_sec,Photodiod,Trigger,AirPuff,TrigWings,TrigEyes,time_sec,time_millisec
0,-40.020752,-7.324218,-0.118408,4.947205,4.969482,-0.209656,-0.059509,0.0000,0.0
1,-40.045166,-7.934570,-0.118408,4.958801,4.979858,-0.210266,-0.060730,0.0001,0.1
2,-40.051270,-7.934570,-0.118408,4.960632,4.981995,-0.209351,-0.059814,0.0002,0.2
3,-40.063477,-7.934570,-0.118408,4.947510,4.969177,-0.209961,-0.059814,0.0003,0.3
4,-40.063477,-7.324218,-0.118408,4.950562,4.972534,-0.211182,-0.059814,0.0004,0.4
...,...,...,...,...,...,...,...,...,...
4600315,-2.593994,-7.324218,0.083313,4.951782,4.972839,-0.209961,-0.059204,460.0315,460031.5
4600316,-2.593994,-7.934570,0.083313,4.959412,4.981079,-0.208130,-0.058289,460.0316,460031.6
4600317,-2.575684,-7.934570,0.083313,4.954529,4.975891,-0.210876,-0.059814,460.0317,460031.7
4600318,-2.563477,-7.934570,0.083313,4.950867,4.972534,-0.210876,-0.059204,460.0318,460031.8
4600319,-2.581787,-7.934570,0.083313,4.951477,4.973145,-0.209961,-0.059204,460.0319,460031.9

# save df at .csv

In [23]:
file_path = r'D:\231011_Patch\312\Anlysis\2023_10_11_0001.csv'# Save the DataFrame as a CSV file
df_abf_231011_311.to_csv(file_path, index=False)